@{
    ViewBag.Title = "帮助";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>
    本系统基于因素分析法，由时间因素、著名因素和流通因素构成的特有的指标体系，数据来源为南京大学2013-2018年的馆藏和借阅数据库。
    数据包括书名、索书号、作者和ISBN号等，可供查看和排序。
    剔旧指数BWI计算是智能剔旧系统最核心的计算模块，也是剔旧系统主要参考指数，如前所述，我们根据默认的权重和数据库中的数据已进行了默认的计算，同时提供BWI权重自定义的功能供图书馆员自行决定各因素的重要程度。
    在数据查询或者计算之后，可以选择导出数据，导出的数据条数可以自定义。
    图书馆员对系统筛选出的数据进行审核，确定该图书是否需要剔除。对某本图书确认其情况符合剔旧，则可以点击确认剔除按钮，系统弹出二次确认的弹窗，以防误删，再次点击确认以后，系统从数据库从将词条数据进行删除并将其余关联数据进行更新和计算。
    后续数据更新后，可自行添加导入数据，出版社、最新离架时长、单书流通频次的换算数据系统会自行添加。
    注：为了数据安全，只有管理员权限可以对图书进行剔除和数据的导出。
</h4>
