@{
    ViewBag.Title = "联系管理员";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    地址<br />
    南京市xxxxx<br />
    <abbr title="Phone">电话:</abbr>
    12345678901
</address>

<address>
    <strong>管理员邮箱:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
     
</address>