@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        图书馆智能辅助剔旧系统

    </h1>
    <p class="lead">
        图书馆智能辅助剔旧系统
        图书馆智能辅助剔旧系统基于因素分析法，由时间因素、著名因素和流通因素构成的特有的指标体系，数据来源为南京大学2013-2018年的馆藏和借阅数据库，使用Visio Studio2017工具开发出的一款智能剔旧系统。对提高馆藏的质量和文献检索效率、降低管理层面的人力资源浪费、节省图书馆的有限空间具有极大的推动作用。
    </p>
     
</div>

<div class="row">
    <div class="col-md-5">
        <h2>系统帮助</h2>
        <p><a class="btn btn-default" href="/Home/About">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>联系管理员</h2> 
        <p><a class="btn btn-default" href="/Home/Contact">了解更多 &raquo;</a></p>
    </div>
</div>